@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
.form-structor {
  background-color: #222;
  border-radius: 15px;
  height: 550px;
  width: 350px;
  position: relative;
  overflow: hidden;
}
.form-structor::after {
  content: "";
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 500px;
  background-image: url("https://img.freepik.com/premium-photo/stunning-supermarket-blurred-backgrounds-your-creative-projects_841543-4310.jpg");
}
.form-structor .signup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 65%;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup.slide-up {
  top: 5%;
  -webkit-transform: translate(-50%, 0%);
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup.slide-up .form-holder, .form-structor .signup.slide-up .submit-btn {
  opacity: 0;
  visibility: hidden;
}
.form-structor .signup.slide-up .form-title {
  font-size: 1em;
  cursor: pointer;
}
.form-structor .signup.slide-up .form-title span {
  margin-right: 5px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup .form-title {
  color: #fff;
  font-size: 1.7em;
  text-align: center;
}
.form-structor .signup .form-title span {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup .form-holder {
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  margin-top: 50px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup .form-holder .input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #eee;
  width: 100%;
  font-size: 12px;
}
.form-structor .signup .form-holder .input:last-child {
  border-bottom: 0;
}
.form-structor .signup .form-holder .input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.form-structor .signup .submit-btn {
  background-color: rgb(138, 212, 138);
  color: white;
  border: 0;
  border-radius: 15px;
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup .submit-btn:hover {
  transition: all 0.3s ease;
  background-color: rgb(34, 190, 34);
}
.form-structor .login {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translate(-50%, 0);
  background-color: #fff;
  width: 200%;
  height: 250px;
  border-radius: 50%;
  z-index: 4;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login .center {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 65%;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login .center .form-title {
  color: #000;
  font-size: 1.7em;
  text-align: center;
}
.form-structor .login .center .form-title span {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login .center .form-holder {
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #eee;
  overflow: hidden;
  margin-top: 50px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login .center .form-holder .input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #eee;
  width: 100%;
  font-size: 12px;
}
.form-structor .login .center .form-holder .input:last-child {
  border-bottom: 0;
}
.form-structor .login .center .form-holder .input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.form-structor .login .center .submit-btn {
  background-color: #6b92a4;
  color: rgba(255, 255, 255, 0.7);
  border: 0;
  border-radius: 15px;
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login .center .submit-btn:hover {
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.8);
}
.form-structor .login.slide-up {
  top: 90%;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login.slide-up .center {
  top: 10%;
  -webkit-transform: translate(-50%, 0%);
  -webkit-transition: all 0.3s ease;
}
.form-structor .login.slide-up .form-holder, .form-structor .login.slide-up .submit-btn {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login.slide-up .form-title {
  font-size: 1em;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login.slide-up .form-title span {
  margin-right: 5px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}

#loginModal {
  display: none;
}

.modal1 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10;
  transform: translate(-50%, -50%);
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 20px;
  border-radius: 10px;
  z-index: 9999;
}

.modal1-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

:root {
  --color-black: hsl(0, 0%, 10%);
  --color-darks: hsl(0, 0%, 25%);
  --color-greys: hsl(0, 0%, 60%);
  --color-light: hsl(0, 0%, 95%);
  --color-white: hsl(0, 0%, 100%);
  --color-blue-100: hsl(217, 91%, 65%);
  --color-blue-200: hsl(221, 83%, 55%);
  --color-blue-300: hsl(224, 76%, 45%);
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  font-family: "Rubik", ui-sans-serif, system-ui, -apple-system, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-black);
  background-color: var(--color-white);
}

main {
  overflow: hidden;
}

a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-transform: unset;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* // Elements */
.section {
  margin: 0 auto;
  padding: 5rem 0 2rem;
}

.container1 {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.brand {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -1px;
  width: 154px;
  text-transform: uppercase;
  color: var(--color-blue-200);
}

/* // Header */
.header1 {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  margin: 0 auto;
  background-color: #f8f4f0;
  box-shadow: var(--shadow-medium);
}

.navbar1 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80%;
  height: 100%;
  z-index: 10;
  overflow-y: auto;
  background-color: var(--color-white);
  box-shadow: var(--shadow-medium);
  transition: all 0.5s ease-in-out;
  /* // Media Query Breakpoint */
}
.menu.is-active {
  top: 0;
  left: 0;
}
.menu-inner {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  margin: 1.25rem;
}
.menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--color-black);
  transition: all 0.3s ease;
  text-decoration: none;
}
.menu-link:hover {
  color: var(--color-blue-200);
}
@media only screen and (min-width: 48rem) {
  .menu {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    margin-left: auto;
    background: none;
    box-shadow: none;
  }
  .menu-inner {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1.75rem;
         column-gap: 1.75rem;
    margin: 0 auto;
    margin-right: 5rem;
  }
  .menu-link {
    text-transform: capitalize;
  }
  .menu-block {
    margin-left: 2rem;
  }
}

/* // Burger */
.burger {
  position: relative;
  display: block;
  cursor: pointer;
  order: -1;
  width: 1.6rem;
  height: auto;
  border: none;
  outline: none;
  visibility: visible;
  /* // Media Query Breakpoint */
}
.burger-line {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 2px;
  margin: 6px auto;
  transform: rotate(0deg);
  border-radius: 1rem;
  background: var(--color-black);
}
@media only screen and (min-width: 48rem) {
  .burger {
    display: none;
    visibility: hidden;
  }
}

/* // Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
}
.overlay.is-active {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* // Search Bar */
.search-cancel {
  display: block;
  cursor: pointer;
  font-size: 1.45rem;
  line-height: inherit;
  color: var(--color-black);
  transform: translateY(50px);
}
.search-toggle {
  display: block;
  cursor: pointer;
  font-size: 1.45rem;
  line-height: inherit;
  color: var(--color-black);
}
.search-block {
  position: fixed;
  top: 0;
  right: -30%;
  width: 30%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  /* // @media only screen and (min-width: */
}
.search-block.is-active {
  top: 0;
  right: 0;
}
.search-form {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  padding: 0.75rem 1rem;
}
.search-input {
  display: block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  transform: translateY(50px);
  height: auto;
  padding: 0.65rem 1.25rem;
  border: 2px solid grey;
  outline: none;
  border-radius: 0.25rem;
  color: var(--color-black);
  background-color: var(--color-light);
}
.search-input::-webkit-search-decoration, .search-input::-webkit-search-cancel-button {
  display: none;
  visibility: hidden;
}
.search-input:focus {
  border: 2px solid #54b227;
  outline: none;
}

.cardsContainerWrapper {
  /* background-color: yellow; */
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  padding: 0px 50px;
  gap: none;
  /* gap: 0.6px; */
}

.card1 {
  /* background-color:pink; */
  border: 1px solid #f3eff4;
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
}
.card1 h4 {
  font-size: 18px;
}
.card1 p {
  font-weight: 100;
}
.card1 .cardImage {
  padding: 0px 50px 0px 50px;
}
.card1 .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card1 .price .increase {
  background-color: rgb(245, 79, 79);
  color: white;
  border-radius: 5px;
  font-size: 1rem;
}
.card1 .price .increase button {
  color: white;
  font-size: 1rem;
}
.card1 .price button {
  border: 1px solid rgb(245, 79, 79);
  border-radius: 5px;
  color: red;
  padding: 10px;
  font-size: 1rem;
}
.card1 .offer {
  width: 49px;
  background-color: #54b227;
  color: white;
  transform: translate(-10px, -10px);
  font-size: 13px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 900px) {
  .cardsContainerWrapper {
    grid-template-columns: repeat(4, 1fr);
    padding: 0px 50px;
  }
}
@media (max-width: 776px) {
  .cardsContainerWrapper {
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 50px;
  }
}
@media (max-width: 677px) {
  .cardsContainerWrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 50px;
  }
}
.banner1 {
  width: 100%;
  padding: 20px 50px 0px 50px;
}
.banner1 img {
  border-radius: 50px;
}

#cCarousel {
  position: relative;
  max-width: 100%;
  margin: 0px 50px;
}

#cCarousel .arrow {
  position: absolute;
  top: 50%;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  font-size: 20px;
  color: #54b227;
  background: white;
  cursor: pointer;
}

#cCarousel #prev {
  left: 0px;
}

#cCarousel #next {
  right: 0px;
}

#carousel-vp {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

#cCarousel #cCarousel-inner {
  display: flex;
  position: absolute;
  transition: 0.3s ease-in-out;
  gap: 20px;
  left: 0px;
}

.cCarousel-item {
  width: 500px;
  height: 300px;
  /*   border: 2px solid white; */
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cCarousel-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 246px;
  /*   padding:30px; */
  color: white;
}

.cCarousel-item .infos {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  color: black;
}

.cCarousel-item .infos button {
  background: #222;
  padding: 10px 30px;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

#totalQuantity {
  transform: translate(-23px, -6px);
}

.category {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  margin: 50px;
  cursor: pointer;
}

.middle-container {
  display: flex;
}

.coursel-image {
  display: flex;
  height: 400px;
  width: 600px;
  border: 1px solid #cecbcf;
  border-radius: 5px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.carousel {
  height: 250px;
  width: 250px;
}

.description {
  margin-top: 20px;
  margin-left: 50px;
}

.description > .cut-text {
  text-decoration: line-through;
  margin-left: 20px;
  color: #cecbcf;
}

.description > .off {
  height: 30px;
  width: 100px;
  background: linear-gradient(to bottom, #54B227, #153f01);
  margin-top: 20px;
  text-align: center;
  padding-top: 3px;
  border-radius: 5px;
  color: white;
}

.description > h6 {
  color: #89888a;
}

.description > button {
  height: 50px;
  width: 100px;
  margin-top: 20px;
  background-color: #FF3C69;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
}

hr {
  border: 1px solid gray;
  width: 650px;
  margin-top: 50px;
}

.description > a {
  text-decoration: none;
  color: black;
}

.description > .papaya {
  color: gray;
}

.box {
  display: flex;
  height: 80px;
  width: 80px;
  border: 1px solid #cecbcf;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.box > img {
  height: 50px;
  width: 50px;
}

.points {
  display: flex;
}

.points > div > h5 {
  margin-left: 30px;
  font-family: sans-serif;
  font-style: normal;
}

.points > div > p {
  margin-left: 30px;
  color: gray;
  font-family: sans-serif;
  font-style: normal;
}

/* css for recommendations */
.might-like {
  height: 400px;
  width: auto;
  background-color: #F7F6F7;
  margin-top: 50px;
}

.might-like > p {
  padding-top: 20px;
  font-weight: bold;
  font-family: sans-serif;
  font-style: normal;
  font-size: 20px;
  padding-left: 40px;
}

.recommend {
  display: flex;
}

/* css-for-recoomation-cards */
.recommend-card {
  height: 300px;
  width: 220px;
  background-color: white;
  border-radius: 5px;
  margin-left: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.recommend-card > img {
  position: relative;
  height: 150px;
  width: 150px;
  margin-left: 35px;
  margin-top: 20px;
  z-index: 1;
}

.recommend-card > .off {
  position: absolute;
  font-family: sans-serif;
  font-style: normal;
  font-size: 14px;
  color: white;
  background-color: #54B227;
  z-index: 2;
  padding: 5px 5px 5px 5px;
  border-bottom-right-radius: 10px;
}

.recommend-card > h6 {
  margin: 10px 0 0 10px;
  color: black;
  font-weight: bold;
}

.recommend-card > p {
  margin: 10px 0 0 10px;
  color: #89888a;
  margin-top: -1px;
}

.recommend-card > div > .price {
  margin-top: 30px;
  margin-left: 10px;
  color: #89888a;
  text-decoration: line-through;
}

.recommend-card > div > button {
  margin-left: 70px;
  border: 1px solid #FF3C69;
  padding: 8px 10px 8px 10px;
  background-color: white;
  border-radius: 5px;
  color: #FF3C69;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  font-size: 15px;
  cursor: pointer;
  font-family: sans-serif;
}

ul {
  margin: 40px 0 0 40px;
}

ul > li {
  color: #89888a;
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */