   

/* body {
  overflow: hidden;
} */



@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
:root {
  --color-black: hsl(0, 0%, 10%);
  --color-darks: hsl(0, 0%, 25%);
  --color-greys: hsl(0, 0%, 60%);
  --color-light: hsl(0, 0%, 95%);
  --color-white: hsl(0, 0%, 100%);
  --color-blue-100: hsl(217, 91%, 65%);
  --color-blue-200: hsl(221, 83%, 55%);
  --color-blue-300: hsl(224, 76%, 45%);
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
     0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
     0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
     0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  font-family: "Rubik", ui-sans-serif, system-ui, -apple-system, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-black);
  background-color: var(--color-white);
}

main {
  overflow: hidden;
}

a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-transform: unset;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* // Elements */
.section {
  margin: 0 auto;
  padding: 5rem 0 2rem;
}

.container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.brand {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -1px;
  width: 154px;
  text-transform: uppercase;
  color: var(--color-blue-200);
}

/* // Header */
.header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  margin: 0 auto;
  background-color: #f8f4f0;
  box-shadow: var(--shadow-medium);
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80%;
  height: 100%;
  z-index: 10;
  overflow-y: auto;
  background-color: var(--color-white);
  box-shadow: var(--shadow-medium);
  transition: all 0.5s ease-in-out;
  /* // Media Query Breakpoint */
}
.menu.is-active {
  top: 0;
  left: 0;
}
.menu-inner {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  margin: 1.25rem;
}
.menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--color-black);
  transition: all 0.3s ease;
}
.menu-link:hover {
  color: var(--color-blue-200);
}
@media only screen and (min-width: 48rem) {
  .menu {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    margin-left: auto;
    background: none;
    box-shadow: none;
  }
  .menu-inner {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1.75rem;
         column-gap: 1.75rem;
    margin: 0 auto;
    margin-right: 5rem;
  }
  .menu-link {
    text-transform: capitalize;
  }
  .menu-block {
    margin-left: 2rem;
  }
}

/* // Burger */
.burger {
  position: relative;
  display: block;
  cursor: pointer;
  order: -1;
  width: 1.6rem;
  height: auto;
  border: none;
  outline: none;
  visibility: visible;
  /* // Media Query Breakpoint */
}
.burger-line {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 2px;
  margin: 6px auto;
  transform: rotate(0deg);
  border-radius: 1rem;
  background: var(--color-black);
}
@media only screen and (min-width: 48rem) {
  .burger {
    display: none;
    visibility: hidden;
  }
}

/* // Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
}
.overlay.is-active {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* // Search Bar */
.search-cancel {
  display: block;
  cursor: pointer;
  font-size: 1.45rem;
  line-height: inherit;
  color: var(--color-black);
  transform: translateY(50px);
}
.search-toggle {
  display: block;
  cursor: pointer;
  font-size: 1.45rem;
  line-height: inherit;
  color: var(--color-black);
}
.search-block {
  position: fixed;
  top: 0;
  right: -30%;
  width: 30%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  /* // @media only screen and (min-width: */
}
.search-block.is-active {
  top: 0;
  right: 0;
}
.search-form {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  padding: 0.75rem 1rem;
}
.search-input {
  display: block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  transform: translateY(50px);
  height: auto;
  padding: 0.65rem 1.25rem;
  border: 2px solid grey;
  outline: none;
  border-radius: 0.25rem;
  color: var(--color-black);
  background-color: var(--color-light);
}
.search-input::-webkit-search-decoration, .search-input::-webkit-search-cancel-button {
  display: none;
  visibility: hidden;
}
.search-input:focus {
  border: 2px solid #54B227;
  outline: none;
}


       /* ******************************************** */
    /* product-cateogry-css*/
       *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       
    }

    .main-container {
        display: flex;
    }

    .category {
        width: 150px;
        margin-left: 30px;

    }

    .product-cateogry {
        display: flex;
        align-items: center;
        height: 70px;
        margin-top: 20px;
        border-left: 3px solid green;

    }

    .product-cateogry:hover {
        background-color: #cbf7b7;
        cursor: pointer;

    }

    .fit-picture {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #F8F8F8;
    }

    .text {
        margin-left: 15px;
        text-decoration: none;
        color: #130022;
        font-family: sans-serif;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        font-style: normal;


    }

    .priceAndadd {
        display: block;
    }

    .products {
        margin-top: 20px;


    }

    .products>h1 {
        margin-left: 50px;
    }

    .products>h1 {
        color: #130022;
        font-family: sans-serif;
        font-size: 24px;
        line-height: 44px;
        font-weight: 700;
        font-style: normal;
    }

    .cards {
        height: 300px;
        width: 225px;
        border: 1px #F1EDF3 solid;
        cursor: pointer;

    }

    .cards>h4 {
        margin-left: 10px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        margin-top: 10px;
    }

    .cards>p {
        margin-left: 10px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #6A6175;
        margin-top: 10px;
        
    }

    .image {
        display: flex;
        cursor: pointer;
    }

    .image>img {
        height: 150px;
        width: 150px;
        margin-top: 20px;
        margin-right: 35px;



    }

    .image>h6 {
        font-family: sans-serif;
        font-style: normal;
        height: 10px;
        width: 50px;
        background-color: #54B227;
        padding: 10px 2px 30px 2px;
        border-bottom-right-radius: 20%;
        color: white;
        font-weight: 400;
        margin-top: -1px;
        text-align: center;
        justify-content: center;



    }

    .priceAndadd {
        display: flex;  
    }
    .increase{
        background-color: rgb(245, 79, 79);
        color: white;
        border-radius: 5px ;
        font-size: 1rem;
        margin-left: 110px;
        margin-top: 20px;
        display: inline;
        button{
            background-color: rgb(245, 79, 79);
           color: white;
           font-size: 1rem;
           display: inline;
        }
     }
     /*  
     button{
        border: 1px solid rgb(245, 79, 79);
        border-radius: 5px;
        color: red;
        padding: 10px;
        font-size: 1rem;
     } */

    .add-botton {
        margin-left: 110px;
        margin-top: 20px;
        border: 1px solid rgb(245, 79, 79);
        padding: 8px 10px 8px 10px;
        background-color: white;
        border-radius: 5px;
        color: #FF3C69;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        font-size: 15px;
        cursor: pointer;
        font-family: sans-serif;
     }

    #card-container {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(5, 1fr);
        padding: 0px 50px;
    }

    .fa-solid {
        display: block;
    }

    .price-text {
        text-decoration: line-through;
        margin-left: 10px;
        color: #6A6175;
        font-size: 12px;
        margin-top: 20px;
     
       

    }

    .price-text2 {
        margin-left: 10px;
        margin-top: 10px;
        font-size: 12px;
    }

    #all {
        background-color: #cbf7b7;
    }

    @media all and (max-width: 375px) {
    .products>h1{
        display: none;
        }
    .category {
       margin-left: 0px;
     }
     #card-container{
        display: block;
     }
     .category{
        width: 120px;
        height: 50px;
     }
    
     .product-cateogry{
        display: block;

     }
     .product-cateogry>a{
        display: none;
     }
}


